<section class="home">
    <div class="container-fluid text-red">
        <div class="row align-items-center">
            <div class="col-md-6 py-5 text-center">
                <h1 class="font-pacifico">
                    <span>Adrita</span><i class="bi bi-heart-fill px-3"></i> <span>Manish</span>
                </h1>
            </div>
            <div class="col-md-6 py-5 text-center">
                <img class="w-75" src="https://manishparui.github.io/melbandhan/assets/images/undraw_couple_re_94tl.svg">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-10 col-md-8 py-5 text-center">
                From the first moment, our eyes met,We knew this joyous day would come, Announcing our engagement, We have found the love we have been seeking our whole lives.
            </div>
        </div>

        <div class="row align-items-center text-center">
            <div class="col-md-6 py-5">
                <img class="w-50" src="https://manishparui.github.io/melbandhan/assets/images/undraw_grandma_re_rnv1.svg">
            </div>
            <div class="col-md-6 py-5">
                <h3 class="day">Monday</h3>
                <h5>9th May, 2022</h5>
                <button class="btn btn-outline-danger mt-3">Save the date</button>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-10 col-md-8 py-5  text-center">
                Come and be a part of our engagement ceremony on Monday, 9th May, 2022 as we embark upon our new journey together.
            </div>
        </div>
        

        <div class="row mt-5 justify-content-center ">
            <div class="col-3">
                <hr>
            </div>
            <div class="col-5 col-md-2 text-center">
                Don't miss it
            </div>
            <div class="col-3">
                <hr>
            </div>
        </div>

        <div class="row text-center">
            <div class="col text-center">
                <h3 class="py-5">
                    {{formattedRemaningTime}}
                </h3>
            </div>
        </div>

        <div class="row pb-5 justify-content-center ">
            <div class="col-2 col-md-3">
                <hr>
            </div>
            <div class="col-7 col-md-2 text-center">
                Untill we get engaged
            </div>
            <div class="col-2 col-md-3">
                <hr>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-12 py-5">
                <img class="w-50" src="https://manishparui.github.io/melbandhan/assets/images/undraw_together_re_a8x4.svg">
            </div>
        </div>

        
    </div>
</section>

    
